{% extends "base.html" %}

{% block title %}Player {{ object.name }}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="span2">
        <td>
          <img src="{{ object.playermodel.all.0.image.all.0.get_url}}" />
        </td>
    </div>
    <div class="span8">
        <ul>
          <li><strong>Name</strong>: {{ object.name }}</li>
          <li><strong>Real name</strong>: {{ object.realname }}</li>
          <li><strong>First online</strong>: {{ object.created }}</li>
          <li><strong>Last online</strong>: {{ object.last_online }}</li>
          <li><strong>GUID's</strong>: {{ object.guids.all|join:", " }}</li>
          <li><strong>Votes</strong>: {% for vote in object.votes.all %}<a href="{% url map pk=vote.map.pk %}">{{vote.map.name}}</a> {%endfor%}</li>
        </ul>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      &nbsp;
    </div>
  </div>
  <div class="row">
    <div class="span2">
    </div>
    <div class="span6">
      {% ifequal request.session.current_player object.name %}
      <span class="label label-info">This is you!</span>
      {% else %}
      <form method=POST action={% url player:thatsme pk=object.pk %} class="form-inline">
        {% csrf_token %}
        <input name="realname" placeholder="Real name" value="{{ object.realname }}"></input>
        <input class="btn" type="submit" name="thats_me" value="This is me" />
      </form>
      {% endifequal %}
    </div>
  </div>
</div>
{% endblock %}
