{% extends "base.html" %}

{% block title %}Player list{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="span12">
    <table id="maps" class="table table-condensed table-hover">
    <caption>All Players ({{ object_list.count }})</caption>
    <thead>
      {% if request.session.current_player %}
      <td>&nbsp;</td>
      {% endif %}
      <td>&nbsp;</td>
      <td>Name</td>
      <td>Real name</td>
      <td>First online</td>
      <td>Last online</td>
      <td>Mapvotes</td>
      <td>GUID's</td>
    </thead>
    {% for player in object_list %}
    <tr>
      {% if request.session.current_player %}
        {% if player.name == request.session.current_player %}
        <td style="vertical-align:middle">You!</td>
        {% else %}
        <td>&nbsp;</td>
        {% endif %}
      {% endif %}
      <td style="min-width:32px;">
        <img style="min-width:32px;height:32px;" src="{{ player.playermodel.all.0.image.all.0.get_url}}" />
      </td>
      <td style="white-space: nowrap">
        <a href="{% url player:detail player.id %}">{{ player.name }}</a>
      </td>
      <td style="white-space: nowrap">
        {{ player.realname }}
      </td>
      <td style="white-space: nowrap">
        {{ player.created|date:"d/m/y G:i"}}
      </td>
      <td style="white-space: nowrap">
        {{ player.last_online|date:"d/m/y G:i"}}
      </td>
      <td>
        {{ player.votes.all|length}}
      </td>
      <td>
        {{ player.guids.all|join:", "}}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="100%">- no players-</td>
    </tr>
    {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
