{% extends "base.html" %}

{% block title %}Map detail{% endblock %}

{% block content %}
<div class="container">
<!--<a href="{% url maps %}"><- back to list</a>-->
<div class="span12">
<p>Mapname: {{ object.name }}</p>
<p>More info: <a href="http://ws.q3df.org/map/{{ object.name}}/" target="_blank"/>http://ws.q3df.org/map/{{ object.name}}/</a></p>
<p>Votes: {% for vote in  object.raw_votes.all %}<a href="{% url player:detail pk=vote.player.pk %}">{{ vote.player.name }}</a> {% endfor %}</p>
</div>
<div class="row">
      <div class="span12">
            <ul class="thumbnails">
            {% for image in object.images.all %}
            {% if image.url %}
            <li class="span4">
                  <img class="img-rounded span4 thumbnail" src="{{image.get_url}}"/>
            </li>
            {% endif %}
            {% endfor %}
            </ul>
      </div>
</div>
</div>
{% endblock %}
