{% extends "base.html" %}

{% block title %}Map list{% endblock %}

{% block head %}
<script>
$('a.like').live('click',function(){
  url = $(this).attr('href')
  console.log(url)
  $.getJSON(url).success(function(data, textStatus, jqXHR){
    $('.vote.map-' + data.mapid).text(data.votes).parent().effect("highlight")
  });
  return false;
});
</script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="span12">
    <a href="{{request.get_full_path}}/map.cfg">Maprotate cfg file</a>
  </div>
  <div class="span12">
    <table id="maps" class="table table-condensed table-hover">
    <caption>All Maps ({{ object_list.count }})</caption>
    <thead>
      <td>Name</td>
      <td>Votes</td>
      <td>Last Played</td>
      <td>Gametypes</td>
      <td>Playercount</td>
      <td>Image</td>
      <td>Overview</td>
      <td>Vote</td>
    </thead>
    {% for map in object_list %}
    <tr>
      <td>
        <a href="{% url map pk=map.pk %}">{{ map.name }}</a>
        {% if map.exclude %}(disabled){% endif %}
      </td>
      <td>
        <span class="vote map-{{ map.pk }}">{{ map.votes|default_if_none:"0" }}</span>
      </td>
      <td style="white-space: nowrap">
        {{ map.last_played|date:"d/m/y G:i"}}
      </td>
      <td>
        {{ map.gametypes.all|join:", " }}
      </td>
      <td>
        {{ map.min_players }} - {{ map.max_players }}
      </td>
      <td>
        <div id="lightbox-{{forloop.counter}}" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
          <div class='lightbox-content'>
            <a href="javascript:void(0)" data-dismiss="lightbox">
              <img class="lazy" src="/media/images/empty.png" data-original="{{map.images.all.1.get_url}}"/>
            </a>
          </div>
        </div>
        <div class="thumbnail" style="width:64px;height:48px;">
          <a href="javascript:jQuery('#lightbox-{{forloop.counter}}').lightbox().find('img').attr('src','{{map.images.all.1.get_url}}')"><img class="lazy" src="/media/images/empty.png" data-original="{{map.images.all.1.get_url}}" style="width:64px;height:48px;" /></a>
        </div>
      </td>
      <td>
        <div id="lightbox-{{forloop.counter}}" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
          <div class='lightbox-content'>
            <a href="javascript:void(0)" data-dismiss="lightbox">
              <img class="lazy" src="/media/images/empty.png" data-original="{{map.images.all.0.get_url}}"/>
            </a>
          </div>
        </div>
        <div class="thumbnail" style="width:64px;height:48px;">
          <a href="javascript:jQuery('#lightbox-{{forloop.counter}}').lightbox().find('img').attr('src','{{map.images.all.0.get_url}}')"><img class="lazy" src="/media/images/empty.png" data-original="{{map.images.all.0.get_url}}" style="width:64px;height:48px;" /></a>
        </div>
      </td>
      <td>
      {% if request.session.current_player %}
          {% url maps.views.vote mapname=map.name player=request.session.current_player vote='up' as vote_url %}
          <p><a class="like" href="{{vote_url}}"><img src="/media/images/like.png" class="like" /></a></p>
          {% url maps.views.vote mapname=map.name player=request.session.current_player vote='down' as vote_url %}
          <p><a class="like" href="{{vote_url}}"><img src="/media/images/like.png" class="dislike" /></a></p>
      {% else %}
          <p>you need to set your username to vote: <a href="/players/list">here</a></p>
      {% endif %}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="100%">- no maps -</td>
    </tr>
    {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
