<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Open Arena Live{% endblock %}</title>
    <base href="/static/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google" value="notranslate" />

    <!-- Le styles -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="bootstrap-lightbox.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="bootstrap/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="bootstrap/ico/apple-touch-icon-57-precomposed.png">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="pure_min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="bootstrap-lightbox.min.js"></script>
    <script src="jquery.lazyload.min.js"></script>
    <script>
      $(document).ready(function(){
        $("img.lazy").lazyload({ 
          skip_invisible : false
        });
      });
    </script>
    <style>
    .dislike {
        transform: rotate(180deg);
        -ms-transform:rotate(180deg); /* IE 9 */
        -moz-transform:rotate(180deg); /* Firefox */
        -webkit-transform:rotate(180deg); /* Safari and Chrome */
        -o-transform:rotate(180deg); /* Opera */
    }
    .like.disabled, .dislike.disabled {
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
        filter: gray; /* IE6-9 */
        -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    </style>
    {% block head %}
    {% endblock %}
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Open Arena Live</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Live</a></li>
              <li><a href="/maps/favorite">Favorite Maps</a></li>
              <li><a href="/maps/last">Last Played Maps</a></li>
              <li><a href="/maps/list">All Maps</a></li>
              <li><a href="/players/list">Players</a></li>
              <li><a href="http://quake.brensen.com/stats" target="_blank">Stats</a></li>
            </ul>
            <ul class="nav pull-right">
              {% if request.session.current_player %}
              <li><a href="{% url player:by_name slug=request.session.current_player %}">{{request.session.current_player}}</a></li>
              {% endif %}
              <li><a href="/admin" target="_blank">Admin</a></li>
              {% if debug_mode %}
              <li><a href="/dev=false">Disable dev</a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    {% block content %}{% endblock %}
  </body>
</html>
