{% extends "base.html" %}

{% block title %}Live view{% endblock %}

{% block head %}
    <script src="main.js"></script>
{% endblock %}

{% block content %}
<div class="container" id="serverinfo">
    <h3>Server info</h3>
    <div class="span3">
      <p><strong>Address</strong>: quake.brensen.com</p>
      <p><strong>Port</strong>: 1200</p>
    </div>
</div>
<div class="container" id="mapinfo"> </div>

<div class="container" id="playerinfo"> </div>

<div class="templates" style="display:none;">
  <div class="mapinfo">
    <h3>Map info <small class="time"></small></h3>
    <div class="span3">
      <p><strong>Map</strong>: <a href="/maps/detail/" class="current_map current_map@href+" target="_blank"></a> <span class="current_gametype"></span></p>
    </div>
    <div class="span4">
      <img src="" class="img-rounded current_map_img@src span3"/>
    </div>
    <div class="span0">
      &nbsp;
    </div>
    <div class="span3">
      <div class="span3">
        <p><strong>Next map</strong>: <a href="/maps/detail/" class="next_map next_map@href+" target="_blank"></a> <span class="next_gametype"></span></p>
      </div>
      <img src="" class="img-rounded next_map_img@src span2"/>
    </div>
  </div>
  <div class="playerinfo">
    <h3>Players <small class="time"></small></h3>
    <div class="span4">
      <ul>
        <li class="players">
          <img src="/media/images/empty.png" class="playermodel@src" style="width:32px;"/>
            <a href="/players/detail/" class="name name@href+"></a> <span class="frags"></span> frags
        </li>
      </ul>
    </div>
    <div class="span6">
    </div>
  </div>
</div>
{% endblock %}
