{% extends "base.html" %}

{% block title %}Live view{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container" id="serverinfo">
    <h3>Server info</h3>
    <div class="span3">
      <p><strong>Address</strong>: {{ server.name }}</p>
      <p><strong>Port</strong>: {{ server.port }}</p>
    </div>
</div>
{% endblock %}
